$rateit_asset_dir: '' !default;

$background-star-width: 16px;
$background-star-height: 64px;
$background-delete-width: 16px;
$background-delete-height: 32px;


@mixin star-background() {
  @include background('stars', $background-star-width, $background-star-height);
}

@mixin delete-background() {
  @include background('delete', $background-delete-width, $background-delete-height);
}

@mixin background($filename, $width, $height) {
    background: url('#{$rateit_asset_dir}#{$filename}.png');
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background: url('#{$rateit_asset_dir}#{$filename}@2x.png');
        background-size: $width $height;
    }
}

@mixin position($dir, $amount) {
    background-position: $dir $amount;
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background-position: $dir $amount;
    }
}


.rateit {
  display: inline-block;
  position: relative;
  user-select: none;
  -webkit-touch-callout: none;

  .rateit-range {
      position: relative;
      display: inline-block;
      @include star-background();
      height: 16px;
      outline: none;
  }

  .rateit-hover, .rateit-selected {
    position: absolute;
    left: 0px;
  }

  .rateit-hover-rtl, .rateit-selected-rtl {
      left: auto;
      right: 0px;
  }

  .rateit-hover {
      @include star-background();
      @include position(left, -32px);
  }

  .rateit-hover-rtl {
      @include position(right, -32px);
  }

  .rateit-selected {
      @include star-background();
      @include position(left, -16px);
  }

  .rateit-selected-rtl {
      @include position(right, -16px);
  }

  .rateit-preset, .rateit-preset-rtl {
      @include star-background();
      @include position(left, -48px);
  }

  .rateit-reset {
      display: inline-block;
      float: left;
      width: 16px;
      height: 16px;
      border: 0;
      @include delete-background();
      @include position(left, 0);
  }

  .rateit-reset:hover {
      @include position(left, -16px);
  }
}
